@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background: rgb(9, 8, 8);
  background-image: radial-gradient(rgba(67, 56, 92, 0.8) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
  overflow-x: hidden;
}

section {
  width: 100vw;
  max-width: 100%;
}
